body, p {
  font-size: 20px;
}

a {
  color: rgb(42, 89, 128);
}

a:hover {
  color: rgb(66, 139, 202);
}

nav {
  background: rgba(29, 41, 51, 0.85) !important; /* #1d2933 */
  /*margin-bottom: 0 !important;*/
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 0 0px 5px #000;
}

nav a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #FFC !important;
  /*text-shadow: 1px 1px #000;*/
}

.projectlead span {
  font-size: 14px;
  padding: 3px 10px;
  background-color: #f8f8f8;
  border: 1px solid #eee5dc;
  color: #b55b5c;
  border-radius: 5px;
  margin-right: 5px;
}

ul.bulleted {
  text-align: left;
  display: inline-block;
  padding-left: 30px;
}

p + .bulleted {
}

.bulleted li {
  list-style-type: square;
  margin: 0 0 5px 0;
}

h1 {
  text-transform: uppercase;
  margin: 0 0 55px 0;
}

h1 + .sub {
  margin-top: -20px;
}

.text-block {
  display: inline-block;
  text-align: left;
}

header {
  padding: 100px 0 50px 0;
}

.muted {
  color: #999;
}

.spaced {
  margin: 30px 0;
}

.extra-spacing {
  padding: 100px 0;
}

.spaced:first-child {
  margin-top: 0;
}

.spaced:last-child {
  margin-bottom: 0;
}

hr {
  border-color: #DDD;
}

section {
  padding: 60px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

h6, h5 {
  color: #777;
}

.alt0 {
  background: #2c3e50 !important;
  /*2a6496*/
}
.alt1 {
  background: #2a6496 !important;
  /*2a6496*/
}
.alt2 {
  background: #7a2522 !important;
  /*a5322e*/
}
.alt .intro, .alt h1, .alt h2, .alt p, .alt li {
  color: #FFF !important;
}

.alt a {
  color: #FFF;
  font-weight: bold;
}

.bk-white {
  background: #FFF !important;
}

.bk-1 {
  background: #f2f9ff !important;
}

.bk-2 {
  background: #f9f9f9 !important;
}

.bk-3 {
  background: #EEE !important;
}
