body, p {
  font-size: 16px;
}

.projectlead span {
  font-size: 14px;
  padding: 3px 10px;
  font-weight: bold;
  background-color: #D7EDE4;
  border: 1px solid #c7d9d0;
  color: #8d9993;
  border-radius: 5px;
  margin-right: 5px;
}

ul.bulleted {
  text-align: left;
  display: inline-block;
  margin: 0 0 0 30px;
}

p + .bulleted {
}

.bulleted li {
  list-style-type: square;
  list-style-position: outside;
  margin: 0 0 5px 0;
}

h1 + .sub {
  margin-top: -20px;
}

.text-block {
  display: inline-block;
  text-align: left;
}

header {
  padding: 50px 0;
}

.muted {
  color: #999;
}

.spaced {
  margin: 30px 0;
}

hr {
  border-color: #DDD;
}

section {
  padding: 60px 0;
}

h6 {
  color: #777;
}
